@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fontes/BebasNeue-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0px;
    padding: 0px;
    font-style: none;
}

body {
    background-color: #83E0AC;
    max-width: 1024px;
    margin: auto;
    height: auto;
}

main {
    box-shadow: 0px 0px 10px #4170559f;
    margin: auto;
    background-color: white;
    padding: 5px;
    font: 1em arial, Helvetica, "Sans-serif";
    text-align: justify;

}

#cabecalho {

    background-image: linear-gradient(to bottom, #37C978, #195C37);
    color: white;
    text-align: center;
    padding: 5px;
    width: auto;
    height: 125px;
    box-shadow: 0px 3px 6px 2px #4170559f;
}

header>nav {
    text-align: justify;
    font: 1em Arial, Helvetica, sans-serif;

}

#botoes {
    text-decoration: none;
    color: white;
    font: bold auto Georgia, Garamond, serif;
    border-radius: 3px;
    padding: 3px 3px 0px 3px;
    transition-duration: .3s;

}

#botoes:hover {
    background-color: #37C978;
    color: black;
}

#titulo_principal {
    font-family: "Bebas Neue", sans-serif;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 10px;
    font-size: 3em;

    @media(max-width:320px) {
        font-size: 2em;
    }
}

article>h1 {
    text-align: center;
    font-family: 'idroid';
    font-weight: normal;
    font-size: 2em;
    color: #195C37;
    margin-bottom: 20px;
    text-shadow: 3px 2px 4px #195c375e;

    @media (max-width:325px) {
        font-size: 1.4em;
    }
}

.titulos {
    font: 20px 'idroid';
    background-image: linear-gradient(to right, #BAE0CB, white);
    text-align: left;
    color: #195C37;
    margin-bottom: 10px;
    margin-top: 30px;
}

img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.link {
    text-decoration: none;
    color: #195C37;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2EM;

}

.link:hover {
    color: #37C978;

}

#bug_droid {
    max-width: 55%;
}

#paragrafo {
    text-indent: 0%;
    font: 16px "Times NewRoman", Helvetica, serif;
    color: white;
}

#Div_youtube {
    background-color: #195C37;
    width: auto;
    height: auto;
    margin-top: 25px;
    padding: 10px;

    @media(max-width:320px) {
        height: 250px;
    }
}

#Vid_youtube {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 400px;

    @media(max-width:320px) {
        max-height: 250px;
    }


}

p {
    font: 16px normal Arial, Verdana, Sans-serif;
    text-indent: 50px;

    @media (max-width: 325px) {
        text-indent: 20px;
    }
}

aside {
    background-color: white;
    margin: auto;
    max-height: auto;
    width: auto;
    padding: 5px;

}

h3 {
    color: white;
    background-color: #37C978;
    border-radius: 7px 7px 0px 0px;
    padding: 3px;
    text-align: center;
    font: bold 2em Arial, Verdana, 'Sans-serif';
    width: auto;
}

aside>div {
    background-color: #83E0AC;
    margin: auto;
    border-radius: 10px;
    height: auto;
    width: auto;
}

aside>div>ul {
    color: black;
    border-radius: 10px;
    height: auto;
    width: auto;
    list-style-position: inside;
    padding: 7px;
    columns: 2;
    margin: auto;
    list-style: none;

}

div>ul>li::before {
    content: '\2713';
    font-weight: bolder;

}

aside>div>p {
    padding: 5px;
    color: black;
    margin-top: px;
    margin-bottom: 5px;
    font: 1em arial, Helvetica, sans-serif;
    text-align: justify;


}


.list_butom {
    text-decoration: none;
    color: black;
}

.list_butom:hover {
    color: #29a661;
}

.list_butom:active {
    color: #6c3af5;
}


footer {
    background-color: white;
    padding-top: 10px;

}

#end {
    background-color: #195C37;
    text-align: center;
    color: white;
    font: 1em bold Arial, Helvetica, sans-serif;
    max-height: auto;
}